/* * {
margin: 0;
} */
/* body {
    height: 100vh;
    width: 100%;
} */
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Montserrat&family=Roboto+Mono&family=Ubuntu:wght@300;400&display=swap');

body, section {
    margin: 0;
    border: solid 2px black;
    font-family: 'Fruktur', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
}

#center > header > button {
    padding: 0;
    border: 0;
    
}

.bot-moves-buttons {

    width: 20%;
}
h2 {

    box-sizing: border-box;
}

#selected-pile {
    display: flex;
    height: 100%;
    border: solid 2px black;
}

main > .edge {
    width: 17%;
    height: 100%;
    border: solid 2px black;

}

#center {
    display: flex;
    flex-direction: column;
    width: 66%;
    height: 100%;
    border: solid black 2px;
}


.center-updates {
    height: 28%;
    background-color: goldenrod;
}

.row {
    display: flex;
    justify-content: center;
    gap: 5%;
    height: 14%;
    width: 100%;
    border: solid 2px black;
    
}

#forth__row {
    height: 16%;
}


.stick {
    height: 99%;
    width: 2%;
    background-color: crimson;
    border: solid 2px black;
}


#player-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 2px black; */
    
}

.disappear-player-buttons {
    height: 0px;
    width: 0px;
}

.stats {
    
    height: 85%;
    width: 100%;
    background-color: cornflowerblue;
}

footer {
    border: black solid 2px;
}



